body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #e6e6fa 0%, #fff0f5);
}

.headerwrapper {
  background-color: #786fa6;
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
  width: 786px;
  /* border: 1px solid; */
  display: flex;
  margin: 0 auto;
}

.menuIcon {
  font-size: 20px;
}

.title {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
}

.day {
  display: flex;
  justify-content: end;
  margin: 0 auto;
  width: 786px;
  color: #786fa6;
  font-weight: 800;
}

.wrapper {
  margin: 0 auto;
  width: 786px;
}

.listToDo {
  color: #786fa6;
  font-weight: 800;
  font-size: 20px;
  padding-bottom: 50px;
  padding-top: 50px;
  margin: 0 auto;
}

.result {
  color: #786fa6;
  font-weight: 800;
}

.checked {
  color: gray;
  text-decoration: line-through;
}

.notChecked {
  color: black;
}

.btn {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #7ed6df;
  background-color: #dbdbdb;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  top: 5px;
}
